<div class="row h-100 text-center justify-content-center align-items-center" style="background-color: #2a4365;">
  <div class="col-md-3 border border-dark rounded p-5 d-flex flex-column justify-content-between text-left bg-light">
    <h3 class="mt-3 mb-3 text-center">Sign up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first name",  class: "w-100"  %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last name",  class: "w-100"  %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "w-100"  %>
      </div>

      <div>
        <%= f.hidden_field :team_id, value: 1 %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",  class: "w-100"%>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "w-100 btn btn-success mt-2" %>
      </div>
    <% end %>
    <h6 class="mt-2">Already have an account? <%= render "devise/shared/links" %></h6>
  </div> 
</div>
