<div class="card border border-primary">
  <div class="card-body border border-primary">
    <h6>Question number <%= fact.id %></h6>
      Q: <%= fact.question %>
    <br />
    <hr class="border border-primary" />
    <% if fact.answer.present? %>
      A: <%= fact.answer %>
    <% else  %>
      <%= form_with( model: Fact.new, url: fact_path(id: fact.id), method: :patch ) do |f| %>
        <%= f.text_field :answer, class: "w-100 p-2 rounded-pill post-input mt-2" %>
      <% end %>
    <% end %>
  </div>
</div>